


.container-fluid {
    background-color: rgba(247, 248, 245, 0.911);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
img{
    width: 50px;
}
ul a{
    color: black;
}

.img-fluid{
    width: 400px;
    height: 400px;

}
